extends layout

block content
  h1= title
  ul.list-unstyled
    if show && quotes[show]
      small.text-muted= quotes[show].student
      li= quotes[show].data
    else
      each quote in quotes
        -var fmId = quote._id
        form&attributes({'method': 'POST', 'action': "/item/" + quote._id})
          small.text-muted= quote.student
          li(name= fmId)
              = quote.quote
          input(type='hidden' name='quote' value='')
          button(class= '' + quote._id + ' btn btn-danger btn-sm col-2' type='submit' name='button' value='delete') Delete
          button(class= '' + quote._id + ' btn btn-success btn-sm col-2' type='submit' name='button' value='save') Save

  // register form
  form(method='POST' action='/newquote')
    div.form-group
      label(for='student') Name:
      input#name.form-control(type='text', placeholder='Enter Student Name' name='student')
    div.form-group
      label(for='quote') Quote:
      input#data.form-control(type='text', placeholder='Quote' name='quote')
    button.btn.btn-primary(type='submit') Submit